{
    "create_clusters": false,
    "shelve": false,
    "azure": {
        "enabled": false,
        "subscription_id": "",
        "application_id": "",
        "application_secret": "",
        "tenant_id": "",
        "storage_resource_group": "",
        "network_resource_group": "",
        "resource_group": "",
        "location": "",
        "network": "",
        "subnet": "",
        "subnets": [],
        "storage_account": "",
        "instance_type": "",
        "image": "",
        "existing_instances": [],
        "vfxt_image": null,
        "check_on_instance": false,
        "check_from_environment": false
    },
}
